# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# BUILD
# =========================
dist/
build/
.next/
out/

# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# LOGS
# =========================
logs
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# TEST
# =========================
coverage/

# =========================
# TEMP
# =========================
tmp/
temp/

# =========================
# DATABASE (OPTIONAL)
# =========================
*.sqlite
*.db

# =========================
# FRONTEND (sau này)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# BACKEND (nếu build riêng)
# =========================
backend/node_modules/
backend/dist/